#section1{
  background-color: aquamarine;
}

header,footer{
  background-color: blue;
  color: white;
  font-size: 3rem;
  text-align: center;

}

@media print{
 *,
 * *::before,
 * *::after{
   color: black !important;
   background: white !important;
   box-shadow: none !important;
   text-shadow: none !important;
 }

 html{
   font-size: 16px !important;
 }

 header,footer{
  font-size: 30px !important;
 }  

 @page{
   margin: 40px;
 }

 a{
  text-decoration: none !important;
 }

 a[href]::after{
  content: " (" attr(href) ")";
  font-size: 0.8em;
  color: gray;
 }
 
 body > *:not(main){
  display: none !important;
 }

    p{
      orphans: 3;
      widows: 3;

    }

}