p {
  color: #3498db;
}
.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}
.container-item {
  background-color: aqua;
  height: 100px;
}
.container-item p {
  color: black;
  text-align: center   ;
}
